.filters {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
}
.filters .text {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filters .btn {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}
.filters button {
  background: #ff5a5f;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  height: 48px;
  width: 70%;
}
.filters button:hover {
  opacity: 0.9;
}
.filters .location,
.filters .amenities {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  padding-top: 15px;
}
.filters .location {
  border-right: 1px solid #dddddd;
}

.filters .location h3,
.filters .amenities h3 {
  font-weight: 600;
  padding-left: 30px;
}

.filters .location h4,
.filters .amenities h4 {
  font-weight: 400;
  font-size: 14px;
  padding: 0 0 0 30px;
}
.popover {
  background-color: #fafafa;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: none;
  max-height: 300px;
  overflow-y: scroll;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 20px;
  z-index: 10;
}
.location:hover .popover {
  display: block;
}
.amenities:hover .popover {
  display: block;
}
.popover strong {
  font-size: 18px;
}
.popover > li ul {
  padding: 10px 0 10px 30px;
}
.popover > li ul li {
  padding: 5px 0;
}
.amenities ul {
  padding-left: 40px;
}
.amenities ul li {
  padding: 5px 0;
}
